BOT_TOKEN=6569435583:AAHi5O0QJaCYLovn_8Q0lqx8USeu_mbv6QY
ADMINS=12345678,12345677
WEBHOOK_HOST=https://your-webhook-host.com
DATABASE_URL=postgresql+asyncpg://user:password@host/dbname
213-230-86-205.ngrok-free.app