aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
charset-normalizer
click
colorama
environs
fastapi
frozenlist
h11
idna
magic-filter
mangum
marshmallow
multidict
pip-chill
propcache
pydantic
pydantic_core
python-dotenv
requests
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
yarl
sqlalchemy
asyncpg
sqladmin
greenlet
jinja2
upstash-redis
itsdangerous
python-multipart
apscheduler
pytz
redis
